@import "tailwindcss";
@import "@heroui/styles";

:root {
  --primary: #ffffff;
}

@theme inline {
  --color-primary: var(--primary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--primary);
}
